* {
    box-sizing: border-box;
}
:root
{
    --color1:#ffa07a;
    --color2:#D89584;
    --color3:#F4F4F4;
}
iframe
{
    border: none;
    width: 100%;
    height: 335px;
}
body
{
    margin: 0;
    line-height: 1.5;
}

/*Cover*/
div.cover
{
    background: url(cover_overlay.png) no-repeat center/100% 100%,url(cover.jpg) no-repeat center/cover;
    height: 360px;
}
img.cover-photo
{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}
h1.h1portfolio
{
    color: white;
}
h1
{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 56px; 
}
h2
{
    text-align: center;
    font-weight: normal;
    font-size: 34px;
    margin-top: 0px;
}
p.cover
{
    color: lightgray;
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
}
a.cover
{
    background-color: #00000060;
    padding: 8px 12px;
    border: 2px solid var(--color1);
    color: var(--color1) ;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    display: inline-block;
}
a.cover:hover
{
    border: 2px solid white ;
    color: white;
}
div.cover-contact
{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 3px solid var(--color1);
    
}
div.cover-contact a
{
    display: block;
    color: white;
    padding-left: 5px;
    
}
div.cover-contact a:first-child
{
    margin-bottom: 10px;
}

/*greyarea1*/
div.section
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px; 
}
div.line1
{
    background-color: #979797;
    position: relative;
    height: 1px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: 0px;
    margin-bottom: 20px;
}
div.myself
{
    font-size: 22px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
a.bold
{
    color: #494949c9;
    font-weight: bold;
}
div.greyarea1
{
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color3);
    padding-bottom: 8%;
    text-align: center;
}
img.aboutmeimage
{
    width: 40%;
}
div.lineaboutme
{
    border-left: 3px solid var(--color1);
    padding-left: 10px;
    height: 40px;
    display: inline-block;
}
div.lineaboutme p
{
    margin-top: 0px;
}
div.aboutme
{
    width: 60%;
    float: right;
    padding-left: 1%;
}
div.greyarea2
{
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color3);
    padding-top: 10%;
}
div.verticalline
{
    background-color: var(--color1);
    height: 50px;
    width: 3px;
    margin-right: 8px;
}
table.colportfolilotable
{
    width: 46%;
}
table.floatright
{
    float: right;
}

div.letgetintouch
{  
    text-align: center;
    font-size: 32px;
}
td.portfolioend
{
    text-align: left;
}
div.lastsection
{
    margin: 30px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
}

/*Portfoliyo*/

div.portfoliyoheader
{
    height: 90px;
    background: url("header.jpg") no-repeat center/cover;
}
div.portfoliyoheadername
{
    
    color: white;
    display: inline-block;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 16px;
}
img.projectbigimg
{
    max-width: 485px; 
    width: 70%;
}
a.portfoliyoheadercotactme
{
    text-align: center;
    position: absolute; 
    right:20px; 
    top:22px;
}
img.contactmeimage
{
    width: 100px; 
    padding-right: 5px;
}
div.line1frame
{
    background-color: #979797;
    position: relative;
    height: 1px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: 0px;
    margin-bottom: 20px;
}
div.line1framemb
{
    display: none;
}


@media only screen and (max-width:768px) {
    img.cover-photo
    {
        height: 80px;
    }
    h1
    {
        font-size: 42px;
    }
    p.cover
    {
        font-size: 13px;
        margin-top: 6px;
    }
    div.section
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    h2
    {
        font-size: 30px;
    }
    img.aboutmeimage
    {
        width: 100%;
    }
    div.aboutme
    {
        width: 100%;
        padding-left: 0px;
    }
    img.projectbigimg
    {
        max-width: 485px; 
        width: 100%;
    }
    table.colportfolilotable
    {
        width: 90%;
        float: none;
    }
    img.contactmeimage
    {
        width: 70px; 
        padding-right: 5px;
    }
    div.lastsection
    {
        margin: 0px;
        box-shadow: none;
    }

    div.letgetintouch
    {  
        text-align: center;
        font-size: 32px;
        margin-bottom: 10px;
    }
    div.line1framemb
    {
        display: block;
    }
    div.contactframsection
    {
        padding-top: 10px;
    }
}

@media only screen and (max-width:280px) {
    h1
    {
        font-size: 32px;
    }
    h2
    {
        font-size: 30px;
    }
    div.portfoliyoheadername
    {
        font-size: 22px;
        margin-top: 22px;
        margin-left: 12px;
    }
    a.portfoliyoheadercotactme
    {
        text-align: center;
        position: absolute; 
        right:10px; 
        top:22px;
    }
    a.cover
    {
        background-color: #00000060;
        padding: 8px 12px;
        border: 2px solid var(--color1);
        color: var(--color1) ;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
    }
    div.line1framemb
    {
        display: block;
    }
}